.wrapperProfile {
  width: 100%;
}

.wrapperProfileImage {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.avatar {
  border-radius: 5px;
  position: relative;
}
.wrapperProfileImageIcon {
  position: absolute;
  right: 0;
  bottom: 0;
}

.wrapperNameSurname {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 5vw;
}

.nameItem {
  width: 100%;
}
