.sidebarWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 3%;
  margin-top: 5vh;
  justify-content: space-between;
  align-items: center;
}

.topUsers {
  width: 100%;
}

.is-sticky {
  position: fixed;
  top: 10px;
  z-index: 999;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}
