.wrapperMain {
  width: 100%;
}

.contentArea {
  height: auto;
  width: 100%;
  background-color: green;
}

.contentHeader {
  color: #f1f1f1;
  text-shadow: 1px 0px 2px rgba(19, 8, 5, 0.7);
  position: relative;
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(2, 0, 36);
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: linear-gradient(
      0deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(29, 29, 29, 0.4094231442577031) 37%,
      rgba(29, 29, 29, 0.5) 60%,
      rgba(29, 29, 29, 0) 100%
    ),
    url(https://picsum.photos/1200/600);
}

.breadCrumb {
  top: 20%;
  position: absolute;
}

.title {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  top: 50%;
  width: 50%;
  height: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.infos {
  position: absolute;
  bottom: 10%;
  width: 100%;
}

.author {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.contentDate {
  background-color: rgb(37, 37, 37);
  padding: 5px;
  border-radius: 3px;
  position: absolute;
  right: 0;
}
