.wrapperMain {
  width: 100%;
}

.contentArea {
  height: auto;
  width: 100%;
  background-color: green;
}

.contentImgWrapper {
  position: relative;
  color: #f1f1f1;
  width: 100%;
  height: 60vh;
  background: rgb(2, 0, 36);
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: linear-gradient(
      0deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(29, 29, 29, 0.4094231442577031) 37%,
      rgba(29, 29, 29, 0) 60%,
      rgba(29, 29, 29, 0) 100%
    ),
    url(https://picsum.photos/1200/600);
}

.contentHeader {
  position: absolute;
  width: 60%;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
