.footer {
  width: 100%;
  background-color: #2d2d2d;
  border-top: 2px solid #ff0000;
  position: relative;
  bottom: 0;

  color: #fff;
}

.categories {
  padding: 2%;
  align-items: center;
  justify-content: center;
}

.categoryItems {
  margin: 0 auto;
}
.copyright {
  padding: 2%;
  text-align: center;
}

.socialMedia {
  padding: 2%;
}

.socialMediaIcons {
  justify-content: center;
  align-items: center;
}
